<table class="table table-striped" id="tt">
  <tr>
    <th>#</th>
    <th>图片</th>
    <th>编辑</th>
  </tr>
  <% @pictures.each do |picture| %>
  <tr>
      <td><%= picture.id %></td>
      <td><%= picture.image.url %></td>
      <td>
        <%= link_to "edit", edit_picture_path(picture), remote: true, class: 'btn btn-xs btn-info' %>
        <%= link_to 'delete', picture, method: :delete, data: { confirm: '确定要删除吗' }, class: 'btn btn-xs btn-danger' %>
      </td>
  </tr>
  <% end %>
</table>
<%= link_to "添加信息", new_address_path, remote: true %>

<div class="tt">
  <div class="col-lg-8">
    <div id="pictures">
      <%= render @pictures %>
    </div>
  </div>
  <div class="col-lg-8">
    <%= paginate @pictures %>
  </div>
  <div class="col-lg-8">
    <%= form_for Picture.new do |f| %>
    <%= f.label :image, "Upload pictures:" %>
    <%= f.file_field :image, multiple: true, name: "picture[image]", remote: true %>
    <% end %>
  </div>

</div>
